body,html{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f4f5f9;
}

.box{
  background-color: #FFF;
  border: 2px solid #ebecf0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

.box-bottom{
  background-color: #596273;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  height: 60px;
  padding-right: 0px;
  color: #FFF;
}

.box-bottom h3{
  width: auto;
  display: inline-block;
}

.box-button{
  background-color: #6dd8aa;
  color: #FFF;
  height: 60px;
  width: 90px;
  border: 0px;
  outline: 0px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}
