body,html{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f4f5f9;
}

.box{
  background-color: #FFF;
  border: 1px solid #ebecf0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  padding: 15px;
  position: relative;
  margin-top: 20px;
}


.box:after, .box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #FFF;
  border-width: 15px;
  margin-left: -18px;
}
.box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #ebecf0;
  border-width: 17px;
  margin-left: -20px;
}

.box-bottom{
  background-color: #596273;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  height: 60px;
  padding-right: 0px;
  color: #FFF;
}

.box-bottom h3{
  width: auto;
  display: inline-block;
}

.box-button{
  background-color: #6dd8aa;
  color: #FFF;
  height: 60px;
  width: 90px;
  border: 0px;
  outline: 0px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

.botones{
float: right;
}

.btn-gris{
 background-color: #EFEFEF;
 color: #8f8f8f;
 width: 130px;
 height: 40px;
}

.btn-azul{

 width: 130px;
 height: 40px;
 margin-right: 20px;
}

.schedule{
  border: 0px;
  color: #8f8f8f;

}
.form-group{
  margin-top: 15px;
}

.caret-alineado{
}

.steps{
  list-style: none;
  padding: 0px;
  margin-top: 15px;
}

.steps > li{
  text-align: left;
  display:inline-block;
  position: relative;
  width: 33%;
}

.steps > li > p{
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
}

.steps li:last-child {
  width: 33% !important;
}

.steps li:last-child:after {
  width: 0% !important;
}

.steps li:after{
  width: 98%;
  position: absolute;
  content: "";
  top: 58px;
  left: 50%;
  height: 3px;
}

.steps li.green > div {
  background-color: #6dd8aa !important;
  border: 3px solid #6dd8aa !important;
}

.steps li.green > div > i {
  margin-top: 4px;
}

.steps li.green > p {
  color: #6dd8aa !important;
}

.steps li.green:after {
    background: #6dd8aa;
    background: -webkit-linear-gradient(left, #6dd8aa, #31b0d5);
    background: -o-linear-gradient(right, #6dd8aa, #31b0d5);
    background: -moz-linear-gradient(right, #6dd8aa, #31b0d5);
    background: linear-gradient(to right, #6dd8aa , #31b0d5);
}

.steps li.blue > div {
  border: 3px solid #31b0d5 !important;
}

.steps li.blue > div > div {
  background-color: #31b0d5;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -moz-boder-radius: 50%;
  -webkit-border-radius: 50%;
  margin-top: 3px;
  display: inline-block;
}

.steps li.blue > p {
  color: #31b0d5 !important;
}

.steps li.blue:after {
  background: #31b0d5;
  background: -webkit-linear-gradient(left, #31b0d5, #a4aeb8);
  background: -o-linear-gradient(right, #31b0d5, #a4aeb8);
  background: -moz-linear-gradient(right, #31b0d5, #a4aeb8);
  background: linear-gradient(to right, #31b0d5, #a4aeb8);
  left: 53%;
  width: 95%;
}

.steps li.gray > div {
  background-color: #transparent !important;
  border: 3px solid #a4aeb8 !important;
}

.steps li.gray > p {
  color: #a4aeb8 !important;
}

.steps li.gray:after {
    border-bottom: 3px solid #a4aeb8;
}

.steps > li > div{
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

/* Inferior Step */

.steps-inferior{
  list-style: none;
  padding: 0px;
  margin-top: 15px;
  display: inline-block;
}

.steps-inferior > li{
  text-align: left;
  display:inline-block;
  position: relative;
  width: 40px;
}


.steps-inferior li:last-child:after {
  width: 0% !important;
} 

.steps-inferior li:after{
  width: 98%;
  position: absolute;
  content: "";
  top: 3.5px;
  left: 50%;
  height: 2px;
}

.steps-inferior li.gris-izquierdo > div {
  background-color: #8395ad !important;
  border: 3px solid #8395ad !important; */
}

.steps-inferior li.gris-izquierdo > div > i {
    font-size: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #596273;

}

.steps-inferior li.gris-izquierdo:after {
    background: #4a5364;
    
}


.steps-inferior li.blanco > div {
 
  background: #fff;

}


/* Linea peq de abajo */
.steps-inferior li.blanco:after {
  background: #4a5364;
  left: 53%;
  width: 95%; 
}

.steps-inferior li.gris-derecho > div {
  background-color: #596273 !important;
  border: 2px solid #808b9d !important;
}


.steps-inferior li.gris-derecho:after {
    border-bottom: 3px solid #a4aeb8;
}

.steps-inferior > li > div{
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
